@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
  .title {
    @include flex_box_custom(flex-start, center, 0px);

    padding: 9px 15px;
    color: #404040;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      color: #7c7c7c;
    }
  }

  .activeTitle {
    background-color: #e7e5e5;
  }

  .contentMenu {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 0 20px;
  }

  .isVisibility {
    height: auto;
    padding: 20px;
  }

  .borderBottom {
    border-bottom: 1px solid #e1e1e1;
  }
}
