@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';

.container {
  background-image: url('https://bizweb.dktcdn.net/100/438/408/files/cach-phoi-do-nam-hoc-sinh-yodyvn-jpeg.jpg?v=1661657918016');
  height: 400px;
  width: calc(100% / 2);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}

.containerTimer {
  @include flex_box_custom(center, center, 10px);
}

.title {
  font-size: 25px;
  color: $four_color;
  text-align: center;
  margin-top: 40px;
}

.boxBtn {
  @include btn(176px, 42px, 3px);
  margin-top: 50px;
  margin-left: calc(100% / 3.2);
  border: none;
}
