@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';

.container {
  background-image: url('https://down-vn.img.susercontent.com/file/sg-11134202-7rbk0-lkriorncib1q06.webp');
  height: 400px;
  width: calc(100% / 2);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}

.containerTimer {
  @include flex_box_custom(center, center, 10px);
}

.title {
  font-size: 25px;
  color: $four_color;
  text-align: center;
  margin-top: 40px;
}

.boxBtn {
  margin-top: 50px;
  margin-left: calc(100% / 3.2);
}
