@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
  padding-top: 83px;
}

.containerSteps {
  @include flex_box_custom(center, center, 0px);

  background-color: #f3f0f0;
  padding: 30px 0;
  flex-direction: column;

  .steps {
    @include flex_box_custom(center, center, 30px);

    .line {
      min-width: 120px;
      height: 1px;
      background-color: #e1e1e1;
    }
  }

  .textNoti {
    font-size: 16px;
    color: $thr_color;
    font-weight: 400;
    padding-top: 35px;
  }

  .stepper {
    @include flex_box_custom(center, center, 10px);
    text-transform: uppercase;

    .numberStep {
      @include flex_box_custom(center, center, 0px);
      background-color: #333;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      color: $white_color;
    }

    .isDisableNumber {
      background-color: transparent;
      border: 1px solid #e1e1e1;
      color: #888;
    }

    .textStep {
      color: $primary_color;
      font-size: 20px;
      font-weight: 400;
    }

    .isDisableText {
      color: #9a9a9a;
    }
  }
}
