@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
  padding-top: 83px;
}

.containerSteps {
  @include flex_box_custom(center, center, 0px);

  background-color: #f3f0f0;
  padding: 30px 0;
  flex-direction: column;
  margin-bottom: 20px;

  .steps {
    @include flex_box_custom(center, center, 30px);

    .line {
      min-width: 120px;
      height: 1px;
      background-color: #e1e1e1;
    }
  }

  .textNoti {
    font-size: 16px;
    color: $thr_color;
    font-weight: 400;
    padding-top: 35px;
  }

  .stepper {
    @include flex_box_custom(center, center, 10px);
    text-transform: uppercase;

    .numberStep {
      @include flex_box_custom(center, center, 0px);
      background-color: #333;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      color: $white_color;
    }

    .isDisableNumber {
      background-color: transparent;
      border: 1px solid #e1e1e1;
      color: #888;
    }

    .textStep {
      color: $primary_color;
      font-size: 20px;
      font-weight: 400;
    }

    .isDisableText {
      color: #9a9a9a;
    }
  }
}

.containerContent {
  @include flex_box_custom(space-between, flex-start, 30px);

  .left {
    flex: 2;
  }

  .right {
    flex: 1;
    padding: 20px;
  }

  .cartTable {
    width: 100%;
    border-collapse: collapse;

    border-bottom: 1px solid #e1e1e1;

    th {
      padding: 12px;
      text-align: left;
      border-bottom: 2px solid #ccc;
      font-size: 14px;
    }

    th:first-child {
      text-align: left;
      padding-left: 0;
    }

    th:nth-child(6) {
      text-align: center;
      padding-right: 0;
    }

    td {
      padding: 12px;
      text-align: center;
      padding: 12px 0;
    }

    td:nth-child(2),
    td:nth-child(3),
    td:nth-child(5) {
      color: $secondary_color;
    }

    td:nth-child(4) {
      select {
        width: 70%;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        color: $secondary_color;
      }
    }

    .productInfo {
      display: flex;
      gap: 10px;
      align-items: center;

      img {
        width: calc(100px - 1.5em);
        height: calc(100px - 1.2em);
        object-fit: cover;
        border-radius: 2px;
      }

      div {
        font-size: 15px;
        flex-grow: 1;

        .itemSize {
          color: #777;
          margin-top: 10px;
        }
      }
    }

    .trashIcon {
      color: #ff4d4f;
      font-size: 18px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: #d9363e;
        transform: scale(1.1);
      }
    }
  }

  .containerSummary {
    padding: 25px;
    border: 2px solid #333;
    flex-grow: 1;

    .title {
      font-size: 16px;
      color: $primary_color;
      padding-bottom: 15px;
      border-bottom: 1px solid #e1e1e1;
    }

    .boxTotal {
      @include flex_box_custom(space-between, center, 0px);
      margin: 25px 0;
    }

    .subTotal {
      color: $thr_color;
      .price {
        color: $secondary_color;
        font-weight: 400;
        font-size: 14px;
      }
    }

    .totals {
      color: $four_color;
      font-size: 20px;
    }

    .buttonWrapper {
      display: grid;
      justify-content: center;
    }

    .space {
      height: 15px;
    }
  }

  .containerMethod {
    padding: 25px 0;
    position: relative;
    width: 100%;
    border: 1px solid #e1e1e1;
    margin-top: 45px;

    .titleMethod {
      position: absolute;
      top: -8px;
      transform: translateX(-50%);
      left: 50%;
      background-color: $white_color;
      padding: 0 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-transform: uppercase;

      span {
        color: #2e7d32;
      }
    }

    .boxImgMethod {
      @include flex_box_custom(center, center, 8px);
    }
    .imgMethod {
      border: 1px solid #e1e1e1;
      width: 40px;
      height: 38px;
      border-radius: 5px;
    }
  }

  .textSecure {
    text-align: center;
    font-size: 14px;
    color: $thr_color;
    margin-top: 5px;
  }

  .boxFooter {
    @include flex_box_custom(space-between, center, 0px);
    margin-top: 15px;

    .boxCoupon {
      @include flex_box_custom(flex-start, center, 0px);

      input {
        border: 1px solid #e1e1e1;
        padding: 8px 15px;
        width: 270px;
        outline: none;
      }

      button {
        height: 36px;
        border-radius: 0px;
        padding: 0 10px;
        font-size: 12px;
        width: 36px;
      }
    }

    .boxBtnDelete {
      align-items: center;
      button {
        height: 36px;
        width: 190px;
        padding: 0 5px;
      }

      span {
        font-size: 15px;
        align-items: center;
        color: #ff4d4f;
      }
    }
  }
}

.boxEmptyCart {
  @include flex_box_custom(center, center, 30px);

  flex-direction: column;
  width: 100%;
  font-size: 14px;
  color: $thr_color;

  .titleEmpty {
    font-size: 24px;
    color: $primary_color;
    font-weight: 500;
  }
  button {
    font-size: 16px;
    font-weight: 500;
  }
}
