@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
  @include flex_box_custom(center, center, 0px);

  left: 0;
  right: 0;

  width: 100%;
  position: relative;
}

.topHeader {
  position: absolute;
  top: 0px;

  width: 100%;
}

.fixedHeader {
  position: fixed;
  top: -83px;
  background-color: #ffffffe6;
  box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  z-index: 999;
  transform: translateY(83px);
  transition: transform 0.6s ease-in;

  width: 100%;
}

.containerHeader {
  position: relative; // Để logo định vị tuyệt đối trong khối này
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  height: 83px;
  width: 100%;
  padding: 0 40px;
}

.headerSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.headerCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 153px;
  height: 53px;
}

.containerBoxIcon {
  @include flex_box_custom(center, center, 20px);

  &:hover {
    cursor: pointer;
  }
}

.containerBox {
  @include flex_box_custom(center, center, 20px);

  min-width: 300px;
  justify-content: space-between;
}

.containerMenu {
  @include flex_box_custom(center, center, 40px);
}

.boxIcon {
  @include radius_common(50%);
  @include flex_box_custom(center, center, 5px);

  width: 26px;
  height: 26px;
}

.menu {
  cursor: pointer;
  padding-top: 9px;
  font-size: 15px;
  color: $primary_color;
  position: relative;

  .subMenu {
    position: absolute;
    background-color: $white_color;
    width: 100%;
    padding: 10px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  &:hover .subMenu {
    opacity: 1;
    visibility: visible;
  }
}

.menu::after {
  content: '';
  display: block;
  height: 3px;
  background-color: $primary_color;
  transform-origin: right;
  transform: scale(0);
  opacity: 0;
  transition: transform 300ms, opacity 500ms;
}

.menu:hover::after {
  opacity: 1;
  transform: scale(1);
}

.boxCart {
  position: relative;

  .quantity {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: $primary_color;
    color: $white_color;
    @include radius_common(50%);
    width: 15px;
    height: 15px;
    font-size: 10px;
    @include flex_box_custom(center, center, 0px);
  }
}
