@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
  @include flex_box_custom(center, center, 0px);

  left: 0;
  right: 0;
}

.topHeader {
  position: absolute;
  top: 0px;
}

.fixedHeader {
  position: fixed;
  top: -83px;
  background-color: #ffffffe6;
  box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  z-index: 999;
  transform: translateY(83px);
  transition: transform 0.6s ease-in;
}

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  height: 83px;
}

.containerBoxIcon {
  @include flex_box_custom(center, center, 10px);
}

.containerBox {
  @include flex_box_custom(center, center, 20px);
}

.containerMenu {
  @include flex_box_custom(center, center, 40px);
}

.boxIcon {
  @include radius_common(50%);
  @include flex_box_custom(center, center, 5px);

  width: 26px;
  height: 26px;
}

.menu {
  cursor: pointer;
  padding-top: 9px;
  font-size: 15px;
  color: $primary_color;
}

.menu::after {
  content: '';
  display: block;
  height: 3px;
  background-color: $primary_color;
  transform-origin: right;
  transform: scale(0);
  opacity: 0;
  transition: transform 300ms, opacity 500ms;
}

.menu:hover::after {
  opacity: 1;
  transform: scale(1);
}
