@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
  position: relative;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004d;
    z-index: 1000;

    transition: all 0.3 ease;
  }

  .sideBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    background-color: $white_color;
    z-index: 1001;
    height: 100vh;

    transform: translateX(350px);
    transition: all 0.5 ease;
  }

  .slideSideBar {
    transform: translateX(0);
  }

  .boxIocn {
    @include flex_box_custom(center, center, 0px);
    position: absolute;
    top: 25px;
    left: -60px;
    width: 35px;
    height: 35px;
    background-color: $white_color;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3 ease;

    &:hover {
      background-color: #ccc;
    }
  }
}
