@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
  @include flex_box_custom(center, center, 0px);
  background-image: url(../../assets/images/banner.jpeg);
  min-height: 700px;
  min-width: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.content {
  @include flex_box_custom(center, center, 10px);
  flex-direction: column;
}

.title {
  font-size: 42px;
  color: $four_color;
  font-weight: 400;
  margin: 50px 0;
}

.description {
  color: $thr_color;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}
